.front {
  label[for=edit-field-geofield-distance],
  .form-item-field-geofield-distance-distance,
  .edit-field-geofield-distance-distance,
  .geofield-proximity-origin-from,
  .form-item-field-geofield-distance-unit,
  .edit-field-geofield-distance-unit,
  .views-widget-filter-field_24_hours_value,
  .views-widget-filter-field_public_holidays_value,
  label[for="edit-field-medical-scheme-tid"] {
    display: none;
  }
  .form-item.form-type-geofield-proximity {
    margin: 0;
  }
  .site-main {
    background: url('../img/homepage-bg.jpg');
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .views-exposed-form {
    padding: 0 rhythm(1);
    @include respond-above(large) {
      width: 975px;
    }
  }
  .geofield-proximity-field-wrapper .form-item {
    width: 100%;
  }
  .views-widget-filter-field_geofield_distance {
    width: auto;
  }
  .views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 0;
  }
}

.pane-custom {
  color: white;
  text-align: center;
}

.pane-title {
  font-size: 60px;
  margin-bottom: 0.5em;
  font-weight: normal;
}

.pane-content {
  font-size: 30px;
  margin-bottom: 1em;
}
