// Text-input styling
input[type=text]:not([type=submit]),
input[type=email],
input[type=password] {
  border: 3px solid color(concrete);
  outline: 0; 
  height: 3.157em;
  line-height: 1.5785em; 
  width: auto; 
  padding-left: 10px; 
  padding-right: 10px;
  border-radius: 10px;
}

textarea,
textarea:hover,
textarea:focus {
  border: 3px solid color(concrete);
  outline: 0; 
  width: 100%; 
  padding-left: 10px; 
  padding-right: 10px; 
}

input[type=submit] {
  margin: 0;
  padding: rhythm(0.5) rhythm(2);
  background-color: color(pacific-blue);
  border-radius: 10px;
  color: white;
  transition: background-color ease-out 0.2s;
  &:hover {
    background-color: darken(color(pacific-blue), 10%);
  }
}

//Checkbox styling
.form-type-bef-checkbox input[type=checkbox] {
  position:absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  width: 1px; 
  margin: -1px; 
  padding: 0; 
  border: 0;
}

.form-type-bef-checkbox input[type=checkbox] + label {
  padding-left: 23px;
  height: 18px; 
  display: inline-block;
  line-height: 18px;
  background-repeat: no-repeat;
  background-position: 0 0;
  vertical-align: middle;
  cursor: pointer;
}

.form-type-bef-checkbox input[type=checkbox]:checked + label {
  background-position: 0 -18px;
}

.form-type-bef-checkbox label {
  background-image: url('../img/checkbox.png');
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input::-ms-clear {
  display: none;
}
